img {
   width: 100%;
   z-index: -1;
   position: absolute;   
}


div {
   background-color: #FFF;
   float: right;
   width: 60%;
   margin-top: 10px;
}

h1, p {
   text-align: right;
   margin-right: 5px;
}